@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.balloon {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  font-size: 30px;
  z-index: 300;
}

.game-board{
  display: flex;
  flex-direction: column;
}

.roomlist{
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #333333;
}

/* Pages */
.p_hand {
  margin-top: 50px;
}

.p_field {
  margin-top: 20px;
}

.p_message {
  margin       : auto;
  width        : 400px;
  height       : 100px;
  background   : #9e9e9ea8;
  right: 20px;
  top: 10px;
  border-radius: 6px;/*角の丸み*/
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
  position: absolute;
  text-align: center;
  z-index: 300;
}

.p_message p {
  font-size: 20px;
}

/* Organisms */
.o_hand .m_hand{

}

.o_field {

}

/* Molecules */
/* Atomsのスタイルのみ，自身のあれこれは設定しない */
.m_hand .card{
  background: #fff;
  height: 240px;
  width: 180px;
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  float: left;
  padding: 0;
  text-align: center;
}

.m_hand .card:hover {
  box-shadow: 7px 7px 5px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.m_trash {
  float: left;
  margin-left: 50px;
  position: relative;
}

.m_trash .card {
  background: #fff;
  height: 240px;
  width: 180px;
  font-weight: bold;
  font-size: 12px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding: 0;
  text-align: center;
  position: absolute;
}

.m_trash .card:hover {
  z-index: 200;
  box-shadow: 7px 7px 5px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.deck {
  position: relative;
}

.deck .card{
  z-index: 10;
  background-image: url("./valuecard-background.png");
  background-size:cover;
  height: 240px;
  width: 180px;
  margin-right: 20px;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  border-radius: 6px;/*角の丸み*/
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}

.deck:hover .balloon{/*ホバー時*/
  display: inline;
}

/* Atoms */
/* 自身のスタイルのみ，width, height, margin, colorは設定しない */
.card {
  border: 1px solid #999;
  border-radius: 6px;/*角の丸み*/
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
}
